*.iml
.gradle
/local.properties
/.idea/
.idea/
.DS_Store
/build
build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
*.dex
*.class
*.db
*.log
.kotlin/
node_modules/
dist/
venv/
__pycache__/
firebase_service_account.json
web/.env
uploads/
google-services.json
*.keystore
*.jks
